@model MyNutrition.DataModels.Models.Recipe

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Recipe</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                
            </dt>
    
            <dd>
                <h3>@Html.DisplayFor(model => model.Name)</h3>
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PreparationTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PreparationTime) mins
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CookingTime)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CookingTime) mins
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServingSize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServingSize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IngredientAmounts)
            </dt>

            <dd>
                <ul>
                    @foreach (var ingredient in ViewBag.IngredientAmounts)
                    {
                        <li>@ingredient.Ingredient.Name - @ingredient.Amount grams</li>
                    }
                </ul>

            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
